
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Rock+Salt&display=swap');

body, html {

    font-family: 'Alegreya Sans SC', sans-serif;
}
button {
    background-color: #4CAF50;
    display: grid;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 15px;
    font-size: 16px;
    margin: 17px 4px;
    cursor: pointer;
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.navbar-brand {
    font-size: 36px;
}

#login {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 70%;
    color: white;
    
}
#signup {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
}
.navbar {
    font-family: 'Rock Salt', cursive;
    border: 2px solid black;
}
img {
    width: 115%;
}

h2 {
    text-align: center;
    border: 1px solid black;
    padding: 2%;
    color: cornsilk;
    font-weight: bold;
    text-align: center;
    
}

.icon{
    width: 50px;
}

.weather-container{
    font-size: 15px;
    margin: 0;
    /* display: flex;
    /* flex-direction: row;
    justify-content: space-evenly; */
    
}
.weather{
    
    margin: 0;
    font-weight: bold;
}

#login a{
    color: white;
}
#signup a{
    color: white;
}


  /* //style for login and signup buttons   */
  


/* #logininfo {

    background-image: url(https://static.vecteezy.com/system/resources/previews/000/563/939/non_2x/set-of-old-people-isolated-on-a-white-background-vector.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;

}

.form {
    position: initial;
    z-index: 1;
    background: rgba(7, 40, 195, 0.8);
    width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
}

input {
    font-family: 'Times New Roman', Times, serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border: 0;
}

#add-member-btn {
    outline: 0;
    background: #4caf4c;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.message {
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}

.message a {
    color: #4caf4c;
    text-decoration: none;
}

.register-form {
    display: none;
} */
